.modal-teclado-numerico {
    width: 250px;
}

.modal-body-teclado {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.teclado {
   margin: 0 auto; 
}

.input-numpad {
    width: 220px;
}

.fila-numpad-interna {
    margin: 5px 0;
}

.fila-numpad-funciones {
    margin: 25px 0;
}

.btn-numpad-separacion-right {
    margin-right: 4px;
}

.btn-numpad-num {
    
    width: 50px; 
    height: 50px; 
    padding: 0px; 
    text-align: center;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-numpad-num-texto {
    font-size: 8pt; 
}

.btn-numpad-horizontal-doble {
    width: 106px;
}

.btn-numpad-vertical-doble {
    height: 105px;
}

.btn-numpad-disp-none {
    display: none;
}
.btn-numpad-hide {
    visibility: hidden;
}