/*!
 * ======================================================================================================================
 * Archivo: 		CodimatEstilos.css
 * Fecha: 			06/01/2014
 * Autor: 			Fernando Prieto
 * Editado por: 	-
 *
 * Descripcion: 	Estilos generales para la aplicaciÃƒÆ’Ã‚Â³n web. Los estilos la aplicaciÃƒÆ’Ã‚Â³n estÃƒÆ’Ã‚Â¡n basados en el
 					Framework de CSS Bootstrap 3.0.3 (http://getbootstrap.com) y este archivo sobre escribe alguno de ellos. 
 					Por lo tanto, esta hoja de estilos debe ser invocada luego de invocar Bootstrap.
 * ======================================================================================================================
 */

/* DefiniciÃƒÆ’Ã‚Â³n clases de compatibilidad con IE */

.compatibilidad-IE {}

/* 
 * 	=============================================================================
 *	AdaptaciÃƒÆ’Ã‚Â³n estilos Bootstrap
 *  =============================================================================
 */

.colorPrincipal {
    color: #0088CC;
}

.colorError {
    color: #CC0000;
}
 
 .textOverflow {
	-o-text-overflow: ellipsis;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
}
 
 a:hover {
	cursor: pointer;
}
 
.extension-20x20 {
	width:20px !Important; 
	height:20px !Important;
}
	
.extension-20x20-pdf {
	background: url('../../img/ext/20x20/pdf.png') no-repeat;  
}

.extension-20x20-doc,
.extension-20x20-docx,
.extension-20x20-rtf {
	background: url('../../img/ext/20x20/word.png') no-repeat;  
}

.extension-20x20-csv,
.extension-20x20-xls,
.extension-20x20-xlsx {
	background: url('../../img/ext/20x20/excel.png') no-repeat;  
}

.extension-20x20-bmp,
.extension-20x20-gif,
.extension-20x20-jpeg,
.extension-20x20-jpg,
.extension-20x20-png,
.extension-20x20-tiff,
.extension-20x20-svg {
	background: url('../../img/ext/20x20/img.png') no-repeat;  
}

.extension-20x20-txt,
.extension-20x20-xml {
	background: url('../../img/ext/20x20/file.png') no-repeat;  
}

.extension-20x20-gz,
.extension-20x20-tar,
.extension-20x20-zip,
.extension-20x20-rar {
	background: url('../../img/ext/20x20/comprimido.png') no-repeat;  
}

.extension-20x20-note {
	background: url('../../img/ext/20x20/nota.png') no-repeat;  
}

.loading-bar {
  width:89px !Important; 
  height:13px !Important;
  background: url('../../img/loading-bar.gif') no-repeat;  
  visibility: hidden;
  float: right;
}

.loading-sol {
  width:64px !Important; 
  height:64px !Important;
  background: url('../../img/loading-sol.gif') no-repeat;  
}

.clear-both {
    clear:both;
}

.form-group {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    
}

.form-control {
    display: inline-block;
    height: 23px;
    font-size: 9pt;
    padding: 1px 3px;  
    vertical-align: 0%;
}

.control-label {
    font-weight: bold;
    margin: 0px; 
    margin-right: 5px;
}

.control-label-select {
    vertical-align: middle;
}

fieldset {
    border: 1px solid #CCCCCC;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    padding: 9px 10px; 
    padding-bottom: 0px;   
    margin-bottom: 10px;
    
}

fieldset > legend {
    font-size: 14px;
    font-weight: bold;    
    text-align: left;
    width:auto;
    color: #0088CC;

    line-height: 14px;
    margin-bottom: 0px;
    padding: 0px 5px;    
    border-bottom: 0px;
}

fieldset > div {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 16px;
}

.modal-dialog-error{
    width: 550px !Important;
}

.modal-footer {
    margin-top: 0px;
    padding: 10px 20px 10px;
    min-height: 30px;
}

.modal-title {
    font-size: 16px;   
    font-weight: bold;
}

.modal-title-label {
     text-align: left;
}

.select {
    display: inline-block;
    font-size: 9pt;
    padding: 1px 1px;  
    height: 23px;
}

.select-opcion-agregar {
  color: #0088CC;
  font-weight: bold;
}

.alert-danger {
    margin-top: 20px;
}

.alert {
    margin-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
}

.icon {
  width: 16px;
  height: 16px; 
  background-repeat: no-repeat;
  /*float: left;*/
}

.icon-warning {
  background-image:url('../../img/icon-warning.png');
}

.icon-error {
  background-image:url('../../img/icon-error.png');
}

.popover-title {
  padding-top: 4px;
  padding-bottom: 4px;
}

.popover-title-content {
  text-align: right;
}

.popover-close,
.popover-close:hover {
  font-weight: bold;
  cursor:pointer;
  text-decoration: none;
  color: #737373;

}

.ulPopover {
  padding-left: 25px;
  margin-bottom: 0px;
}

.has-error-input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error-input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}


.popover-for-modal {
  z-index: 1060 !Important;
}

.alert-success {
  background: #dff0d8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZjBkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGU1YmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dff0d8), color-stop(100%,#c8e5bc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dff0d8 0%,#c8e5bc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dff0d8 0%,#c8e5bc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dff0d8 0%,#c8e5bc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #dff0d8 0%,#c8e5bc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff0d8', endColorstr='#c8e5bc',GradientType=0 ); /* IE6-8 */

  text-align:left;
  text-align:justify;
  text-justify:inter-word;
}

.alert-info {
  background: #d9edf7; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZWRmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOWRlZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9edf7), color-stop(100%,#b9def0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d9edf7 0%,#b9def0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d9edf7 0%,#b9def0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d9edf7 0%,#b9def0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d9edf7 0%,#b9def0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9edf7', endColorstr='#b9def0',GradientType=0 ); /* IE6-8 */

  text-align:left;text-align:justify;
  text-justify:inter-word;
}

.alert-warning {
  background: #fcf8e3; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjhlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGVmYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf8e3), color-stop(100%,#f8efc0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcf8e3 0%,#f8efc0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcf8e3 0%,#f8efc0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcf8e3 0%,#f8efc0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcf8e3 0%,#f8efc0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8e3', endColorstr='#f8efc0',GradientType=0 ); /* IE6-8 */

  text-align:left;text-align:justify;
  text-justify:inter-word;
}

.alert-danger {
  background: #f2dede; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2MzYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2dede), color-stop(100%,#e7c3c3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2dede 0%,#e7c3c3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2dede 0%,#e7c3c3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2dede 0%,#e7c3c3 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f2dede 0%,#e7c3c3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2dede', endColorstr='#e7c3c3',GradientType=0 ); /* IE6-8 */

  text-align:left;text-align:justify;
  text-justify:inter-word;
}

.tab-pane {
  padding: 10px;
}

.tab-content {
  border: 1px solid #dddddd;
  border-top: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* 
 * 	=============================================================================
 *	AdaptaciÃƒÆ’Ã‚Â³n Estilos bootstrap-select.css 
 *  =============================================================================
 */

.dropdown-menu {
    z-index: 1030;
    font-size: 9pt;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.bootstrap-select{
    margin-bottom: 0px !Important;
}

/* 
 * 	=============================================================================
 *	Estilos Propios Codimat
 *  =============================================================================
 */

body {    
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
    text-align: center;    
    font-size: 9pt !Important;
    padding: 20px;
}

.div-container {
    width: 900px; 
    margin: 0 auto; 
}

.div-header {    
    color: #646464;     

    font-size:32px;
    font-weight:bold;

    width:100%;
    height:70px;

    text-align:left;
}

.div-marco {
    position: relative;    
}

.div-marco-titulo {
    width: 100%;
    height: 40px;
    line-height: 40px;

    font-size: 16pt;
    font-weight: bold;

    position: absolute;
    
    border: 2px #b5c6d0 solid;
    border-bottom: 1px #b5c6d0 solid;
    
    -webkit-border-radius: 20px 20px 15% 15%;
    -moz-border-radius: 20px 20px 15% 15%;
    border-radius: 20px 20px 15% 15%;

    background: #f2f6f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I1YzZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );  IE6-8 */

}                  

.div-marco-body {
    top: 34px;
    width: 100%;
    position: absolute;
    padding: 20px;
    padding-top: 50px;

    border: 2px #b5c6d0 solid;
    border-top: 0px;
    
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
}

.modal-footer-checkbox {
  margin-top: 8px; 
  float:left;
}

.modal-footer-checkbox > div {
  width:auto; 
  float:left;  
  cursor: pointer;
}

.modal-footer-checkbox > .check {
  margin-top: 2px; 
  margin-right: 3px;
}

.modal-footer-checkbox > .check > input[type='checkbox'] {
  margin-top: 0px;
  cursor: pointer;
}

.loading-bar-text {
    font-weight: bold;
}

.input-mini {
  width: 110px !Important;
}

.input-fecha {
  width: 80px;
}

.input-normal {
    width: 330px;
}

/* Utilizado en los modals */
.input-nombre { 
    width: 300px;
}

.input-numerico {
    text-align: right;
}

.alineacion-numero {
    text-align: right; 
}

.alineacion-texto {
    text-align: left;
}

.control-label {
    margin-right: 0px;
}

.radio-inline > input[type="radio"] {
    margin-top: 2px;
}

.select {
    width: 220px;     
}

.select-mini {
    width: 110px !Important; 
}

.barra-division {
  margin-top:37px; 
  margin-bottom: 15px; 
  border-style:solid; 
  border-width: 1px; 
  border-color: rgb(241, 241, 241); 
  border-radius: 100%;
}

.fecha[disabled], .horario[disabled] {
  background-color: #FFFFFF;
}
 /* Relacionado con los nodos de los arboles */
.breadcrumb {
  padding: 2px 4px;
  background-color: #FAFAFA;
}

.breadcrumb-nav {
    text-align: left;
    background-color: #FFFFFF;
}
.breadcrumb-nav > li > a {
    font-size: 11.5pt;
    font-weight: bold;
}
.breadcrumb-nav > li > a:hover, 
.breadcrumb-nav > li > a:active {
    text-decoration: none;
}

.breadcrumb:not(.breadcrumb-nav) > .active {
  color: #0088CC;
}

.span-glyphicon {
  font-size: 9pt;
}

.input-group-addon {
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.div-control-label {
    margin-top: 3px;
}

.label-contenido {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
  cursor: pointer;
}

/*
 * ---------------------------------------------------------------------------------------------------------------------
 * BOTONES
 * ---------------------------------------------------------------------------------------------------------------------
 */
.btn-default:active,
.btn-default.active {
  border-color: #b2b2b2;
}

.btn-default:disabled:focus,
.btn-default.disabled:focus {
  background-position: 0 0px;
}

.btn-codimat {

  color: #827C6C;
  border-color: #FFC014;

  background: #fff1b4; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjFiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM3MmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fff1b4 0%, #ffc72e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff1b4), color-stop(100%,#ffc72e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff1b4 0%,#ffc72e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff1b4 0%,#ffc72e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff1b4 0%,#ffc72e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff1b4 0%,#ffc72e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1b4', endColorstr='#ffc72e',GradientType=0 ); /* IE6-8 */

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-codimat:hover,
.btn-codimat:focus {

  color: #EEF1F7;
  border-color: #C5C5C5;

  background: #eef1f7; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZjFmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGEzY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eef1f7 0%, #98a3cd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef1f7), color-stop(100%,#98a3cd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eef1f7 0%,#98a3cd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eef1f7 0%,#98a3cd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eef1f7 0%,#98a3cd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eef1f7 0%,#98a3cd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f7', endColorstr='#98a3cd',GradientType=0 ); /* IE6-8 */

}

.btn-codimat:active,
.btn-codimat.active {

  color: #EEF1F7;
  border-color: #96A7CA;

  background: #dee2ed; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZTJlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg0YmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dee2ed 0%, #7584bd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dee2ed), color-stop(100%,#7584bd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dee2ed 0%,#7584bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dee2ed 0%,#7584bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dee2ed 0%,#7584bd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #dee2ed 0%,#7584bd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee2ed', endColorstr='#7584bd',GradientType=0 ); /* IE6-8 */
}

.btn-codimat-gac {

  color: #EEF1F7;
  border-color: #C5C5C5;

  background: #eef1f7; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZjFmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGEzY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eef1f7 0%, #98a3cd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef1f7), color-stop(100%,#98a3cd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eef1f7 0%,#98a3cd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eef1f7 0%,#98a3cd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eef1f7 0%,#98a3cd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eef1f7 0%,#98a3cd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f7', endColorstr='#98a3cd',GradientType=0 ); /* IE6-8 */

}

.btn-codimat-gac:hover,
.btn-codimat-gac:focus {

  color: #EEF1F7;
  border-color: #C5C5C5;

  background: #dee2ed; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZTJlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTg0YmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dee2ed 0%, #7584bd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dee2ed), color-stop(100%,#7584bd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dee2ed 0%,#7584bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dee2ed 0%,#7584bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dee2ed 0%,#7584bd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #dee2ed 0%,#7584bd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee2ed', endColorstr='#7584bd',GradientType=0 ); /* IE6-8 */
}

.btn-codimat-gac:active,
.btn-codimat-gac.active {

  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  border-color: #96A7CA;
}

/*
 * ---------------------------------------------------------------------------------------------------------------------
 * LOADING BAR
 * ---------------------------------------------------------------------------------------------------------------------
 */

.loadingBar {
    
      top: 50%;
      position: fixed;
      z-index: 1050;
      background-color: #000000;
      width: 458px !Important;
      height: 20px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      outline: none;
      -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 1);
         -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 1);
              box-shadow: 0 4px 7px rgba(0, 0, 0, 1);
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding-box;
              background-clip: padding-box;
}


/*
 * ---------------------------------------------------------------------------------------------------------------------
 * MENU CONTEXTUAL
 * ---------------------------------------------------------------------------------------------------------------------
 */

.context-menu {
  text-align: left;
}

.context-menu > ul > li {
  overflow: hidden; 
  text-align: left;
  word-wrap: break-word;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  text-decoration: none;
  background-color: red;
  cursor: pointer;
  background: #428BCA; 
}

.dropdown-header {
  font-weight: bold;
}

/*
 *  ============================
 *  INDICES
 *  ============================
 */

.div-contenedor-indice {

    text-align: left; 
    font-weight: bold; 
    font-size: 14pt;
}

.div-link-indice {

    margin-bottom: 10px;
}

a.link-indice:hover,
a.link-indice:active{
    text-decoration: none;
}

a.link-indice-exclusivoSistemas {
    color: #D24F4F;
}

a.link-indice-exclusivoSistemas:hover,
a.link-indice-exclusivoSistemas:active {
    color: #B13D3D;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout-info {
    border-left-color: #1b809e;
}

.callout-danger {
    border-left-color: #ce4844;
}

.callout-warning {
    border-left-color: #CAB134;
}

.div-marco-body {
    padding-top: 20px;
    padding-bottom: 25px;
}

.link-sesion {
    float: right; 
    text-align: right;
}

.texto-logout {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    /* font-weight: bold; */
}

.texto-logout:hover, 
.link-sesion:hover, 
.link-sesion:active {
    text-decoration: none;
}

.label-sesion {
    float : left;
}

.div-sesion {
    margin-bottom: 50px;
}


/*
 *  ============================
 *  FIELDSET OCULTABLE
 *  ============================
 */

.fieldset-ocultable {
    border: 0px;
    border-top: 1px solid #CCCCCC;
    border-radius: 0px;
    margin-bottom: 0px;
}

.legendOcultador:hover {
	color: #428bca;
	text-decoration: none;
}

.iconoExpansor {
    font-size: 12px;
}

/*
 ***********************
    DROPDOWN SUBMENU
 ***********************
 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: rgba(51, 51, 51, 0.59);
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: rgba(51, 51, 51, 0.59);
}

.dropdown-submenu > a {
    -webkit-box-shadow: none !Important;
    -moz-box-shadow: none !Important;
    box-shadow: none !Important;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*Tabla que muestra detalle en segunda fila*/

.tabla-header {
    text-align: left;
}

.tabla-columna {
    padding-top: 11px !Important;
}

.cabecera-filaActiva {
    border-top: solid 3px #428bca;
    border-left: solid 1px #428bca; 
    border-right: solid 1px #428bca; 
}

.detalle-filaActiva {
    border-bottom: solid 3px #428bca;
    border-left: solid 1px #428bca; 
    border-right: solid 1px #428bca; 
}

.label-tituloTablas {
    font-weight: bold; 
    text-align: left; 
    margin-bottom: 20px;
    margin-top : 0px;
    font-size: 15px;
}

.dropdown-menu { 
    text-align: left;
}

ul.ul-popover {
    padding-left: 0px;
}

/*Estilos de inputs para comprobante*/

.input-cprb-letra {
    width: 40px;
    margin-left: 20px;
    margin-top: 3px;
}

.input-cprb-prefijo {
    margin-left: 10px;
    width: 40px;
    text-align: right;
}

.input-cprb-sufijo {
    margin-left: 10px;
    width: 80px;
    text-align: left;
}