/*!
 * ======================================================================================================================
 * Archivo:     CodimatEstilos-IE8.css
 * Fecha:       09/01/2014
 * Autor:       Fernando Prieto
 * Editado por:   -
 *
 * Descripcion: Fix para problemas de visualización en Internet Explorer 8.
                Esta hoja de estilos debe ser invocada (si el browser actual es IE8) luego de invocar a CodimatEstilos. 
 * ======================================================================================================================
 */

/* 
 *  =============================================================================
 *  Adaptación estilos Bootstrap progress bar
 *  =============================================================================
 */

 /*  BOTON DEFAULT */

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default  {
  color: #808080;
}

.btn-default:hover,
.btn-default:focus  {
  background:#e0e0e0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
}

.btn-default,
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default  {
  background: #ffffff; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
}
.btn-default,
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default,
.btn-default:disabled:hover,
.btn-default:disabled:focus,
.btn-default.disabled:hover,
.btn-default.disabled:focus {  
  background: #ffffff; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-8 */
}

.btn-codimat.disabled, .btn-codimat[disabled], fieldset[disabled] .btn-codimat {

  color: #827C6C;
  border-color: #FFC014;
  background: #fff1b4; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1b4', endColorstr='#ffc72e',GradientType=0 ); /* IE6-8 */

}

.btn-codimat-gac.disabled, .btn-codimat-gac[disabled], fieldset[disabled] .btn-codimat-gac {

  color: #EEF1F7;
  border-color: #C5C5C5;
  background: #eef1f7; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f7', endColorstr='#98a3cd',GradientType=0 ); /* IE6-8 */

}

/* 
 *  =============================================================================
 *  Estilos propios Codimat
 *  =============================================================================
 */

.div-marco-titulo {
  -pie-background: linear-gradient(#f2f6f8, #d8e1e7 50%, #b5c6d0 50%, #e0eff9);
}

.barra-division {  
  margin-top: 43px;
}

.select {
  height: auto;
  }

/* vinculaciones */

.tab-pane {
  padding-top: 18px;
}

.loading-bar {
  margin-bottom: 7px;
}