.table > thead > tr > th,
.gradienteEncabezadoTabla {
    vertical-align: bottom;
    text-align: center;    
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20242f+0,0b0d19+100 */
    background: #20242f; /* Old browsers */
    background: -moz-linear-gradient(top,  #20242f 0%, #0b0d19 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #20242f 0%,#0b0d19 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #20242f 0%,#0b0d19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20242f', endColorstr='#0b0d19',GradientType=0 ); /* IE6-9 */
    
    border-bottom-color : #000000;       
}

.table {
    margin-bottom: 0px;
}

.table > thead > tr > th,
.textoResaltado {
    color : #ffea00;
    font-weight: bold;
    text-shadow: 1px 1px #052347;
}

.table > thead > tr > th {
    text-shadow: 1px 1px #000000;
}

.textoResaltado {
    text-shadow: 1px 1px #052347;
}

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th,
.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th,
.gradienteFilaImparTabla {
    border-top-color: #1B244B;
    text-shadow: 1px 1px #052347;
}

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#022374+0,112e70+100 */
    background: #022374; /* Old browsers */
    background: -moz-linear-gradient(top,  #022374 0%, #112e70 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #022374 0%,#112e70 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #022374 0%,#112e70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022374', endColorstr='#112e70',GradientType=0 ); /* IE6-9 */  
    
    border-top-color: #17559E;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th,
.gradienteFilaImparTabla {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c6bba+0,1662ad+50,1653a3+51,053b83+100 */
    background: #1c6bba; /* Old browsers */
    background: -moz-linear-gradient(top,  #1c6bba 0%, #1662ad 50%, #1653a3 51%, #053b83 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1c6bba 0%,#1662ad 50%,#1653a3 51%,#053b83 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1c6bba 0%,#1662ad 50%,#1653a3 51%,#053b83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c6bba', endColorstr='#053b83',GradientType=0 ); /* IE6-9 */
    
    border-top-color: #1B244B;
}

body {
    padding: 0px;
    background-color: #112e70;
    color: #FFFFFF;
    font-size: 18px !Important;    
}

.header-titulo {    
    font-weight: bold;
    text-shadow: 3px 3px #052347;
    font-size: 50px;    
    padding-top: 25px;
    padding-bottom: 25px;    
}

.body-error {
    background-color: #c0181d;    
}

.div-excepcion{
    display: none;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e52d27+0,c0181d+100 */
    background: #e52d27; /* Old browsers */
    background: -moz-linear-gradient(top,  #e52d27 0%, #c0181d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e52d27 0%,#c0181d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e52d27 0%,#c0181d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52d27', endColorstr='#c0181d',GradientType=0 ); /* IE6-9 */
    
    padding-top: 100px;
}

.div-excepcion-titulo {    
    font-size: 120px;
    text-shadow: 5px 5px #9A1919;
}

.div-excepcion-linea1,
.div-excepcion-linea2 {
    font-size: 35px;
    text-shadow: 2px 2px #9A1919;
}

.div-excepcion-linea2 {
    margin-top: 20px;
    font-size: 20px;
}

.div-excepcion-boton {
    margin-top: 100px;
}