/* 
    Created on : 15/01/2016, 15:02:21
    Author     : Fernando Prieto
*/
/*
::-webkit-scrollbar {
    width: 35px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(66,139,202,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(66,139,202,0.9); 
} */

body {
    font-size : 11pt !Important;
}

.div-container {
    width: 1100px;
}

.input-lg {
    height: 46px;
    font-size: 18pt;
}

.control-label {
    font-size : 11pt;
}

.btn-touch {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.contenedorAutenticacion { 
    width: 240px !Important;
}

.link-tipoLogin {
    margin-left: 90px !Important;
}